// Кольори
$white: #fff;
$bg: #e1e7f6;
$text: rgb(54, 55, 59);
$blue: #124b90;

// Шрифти
$font-main: "Istok Web", sans-serif;
$font-primary: "Roboto Mono", monospace;
$font-secondary: "Montserrat", sans-serif;
