.hero-wrap {
  background-image: url(../../img/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 297px 0 102px 0;
  @media (max-width: 991px) {
    padding: 70px 0 10px 0;
  }
}
.hero {
  @include flex(column, flex-start, flex-start);
  @media (max-width: 991px) {
    @include flex(column, center, center);
  }
  h1 {
    color: $blue;
    font-family: $font-primary;
    font-size: 68px;
    font-weight: 700;
    line-height: 121%;
    letter-spacing: 1%;
    margin-bottom: 29px;
    @media (max-width: 991px) {
      font-size: 25px;
      text-align: center;
      margin-bottom: 12px;
    }
  }
  &__logo {
    width: 167.49px;
    height: 106.82px;
    margin-bottom: 41px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__btn {
    @include flex(column, center, center);
    width: 259px;
    height: 64px;
    color: $blue;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 1%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background: $bg;
    border: 2px solid $bg;
    cursor: pointer;
    @include transition;
    @media (max-width: 991px) {
      width: 106px;
      height: 38.13px;
      font-size: 12px;
      line-height: 17px;
      border: 1px solid $bg;
    }
    &:hover {
      background-color: transparent;
      border: 2px solid $blue;
      @media (max-width: 991px) {
        border: 1px solid $blue;
      }
    }
  }
}
